@import 'src/lib/styles/mixin.scss';
@import 'src/lib/styles/color.scss';
@import 'src/lib/styles/fonts.scss';

.staff {
  padding-bottom: 1em;
}

.title {
  padding: 0.1em 0em;
  font-weight: 500;
  font-family: $source_sans_pro;
  font-size: 0.9rem;

  @include min-w-xl() {
    font-size: 1rem;
  }
}

.persons {
  display: grid;

  @include min-w-xl() {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 1em;
  }

  @include max-w-lg() {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1em;
  }

  @include max-w-sm() {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1em;
  }
}
