@import 'src/lib/styles/mixin.scss';
@import 'src/lib/styles/color.scss';

.toolbar {
  padding: 1em 1.5em;
  color: #fff;

  @include max-w-md() {
    padding-left: 4em;
  }
}

.grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
}

.dropDownList {
  width: 12em;
  bottom: -3.5em;
  font-weight: 500;
  display: none;

  .listItem {
    padding: 0.5em 0.5em;
    background-color: $dark-100;
    color: $gray;

    &:hover {
      background-color: $white;
      color: $dark-300;
    }
  }
}

.showDropDownList {
  display: block;
}
