@import 'src/lib/styles/mixin.scss';
@import 'src/lib/styles/color.scss';

.footer {
  padding: 0.6em 0.5em;
  @include transition(background-color 0.5s);

  &:hover {
    background-color: $white;
  }
}

.title {
  background-image: linear-gradient(-225deg, #231557 0%, #44107a 29%, #ff1361 67%, #fff800 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;

  @include max-w-sm() {
    font-size: 1.4rem;
  }
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
