@import 'src/lib/styles/mixin.scss';
@import 'src/lib/styles/color.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

:root {
  @include max-w-xs() {
    font-size: calc(1vw + 11px);
  }

  @include min-w-md() {
    font-size: 16px;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @extend .customScrollbar;
  min-width: 340px;
}

.bg-dark-100 {
  background-color: $dark-100;
}

.bg-dark-200 {
  background-color: $dark-200;
}

.bg-dark-300 {
  background-color: $dark-300;
}

.text-gray {
  color: $gray;
}

.text-white {
  color: $white;
}

.text-danger {
  color: $red;
}

.customScrollbar {
  &::-webkit-scrollbar {
    width: 9px;
    height: 9px;
  }
  &::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  //scroll color
  &::-webkit-scrollbar-thumb {
    background: #1e2c36;
    border: 0px none #ffffff;
    border-radius: 50px;
  }
  &::-webkit-scrollbar-thumb:hover {
    opacity: 0.9;
  }
  //scroll color when it active
  &::-webkit-scrollbar-thumb:active {
    background: $dark-100;
  }
  //scrollbar (entire scrollbar)
  &::-webkit-scrollbar-track {
    background: $dark-200;
    border: 0px none #ffffff;
  }
  &::-webkit-scrollbar-corner {
    background: transparent;
  }
}
